<!-- <div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card bg-primary p-3">
            <h5>Tu Resultado</h5>
            <div class="row alturaCaja">
                <div class="col-12">
                    <div class="fondo-item">
                        <div class="contenedor">
                            <p class="resultado">{{ resultado }}</p>
                            <div class="estilo-numero">{{ bmi }}</div>
                            <p class="interpretacion">{{ interpretacion }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg btn-block btn-color" routerLink="/">RE-CALCULAR</button>
            </div>
        </div>
    </div>
</div> -->


<div class="row">
    <div class="col-md-4 offset-md-4 p-5">
        <div class="card bg-primary p-3">
            <h5 class="text-white">Tu Resultado</h5>

            <div class="row h-100 p-3">
                <div class="col-12">
                    <div class="bg-dark rounded fondo-item">
                        <div class="contenedor p-3">
                            <p class="text-white resultado">{{ resultado }}</p>
                            <div class="text-white estilo-numero">{{ bmi }}</div>
                            <p class="text-white interpretacion">{{ interpretacion }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-12">
                    <button routerLink="/" class="btn btn-block btn-lg btn-color">Re-Calcular</button>
                </div>
            </div>

        </div>
    </div>

</div>